@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');

body {
    background-color: rgb(169, 169, 169);
}

header {
    margin: 0;
}

/*---------------------------------------- Navbar */
.navbar {
    background-color: #fba031;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: black;
    padding: 0;
}

.navbar-nav {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    position: absolute;
    right: 10px;
}

.nav-link {
    color: black;
}

.nav-link:hover, .navbar-brand:hover {
    color: white;
}

/*---------------------------------------- Cover image */
.cover-img {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://res.cloudinary.com/aemacbeath/image/upload/v1658426728/true-false-quiz_zsivav.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

/*---------------------------------------- Story cards */
.story-card {
    margin-top: 100px;
}

/*---------------------------------------- Footer list */


/*---------------------------------------- Footer */
footer {
    background-color: #fba031;
}
