{% extends "base.html" %}

{% block content %}
<!--Cover image and story cards section-->
<section>
    <div class="container-fluid cover-img">
        <div class="row">
            <div class="col-md-3">
                <div class="card story-card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
                <div class="card story-card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 story-card">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3 story-card">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Story list section-->
<section>
    <div class="container" id="story-list-cont">
        <div class="list-group">
            {% for story in story_list %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ story.title }}</h5>
                    <small>
                        {{ story.number_of_tvotes }} voted True<br>
                        {{ story.number_of_fvotes }} voted False
                    </small>
                </div>
                <p class="mb-1">{{ story.excerpt }}</p>
                <small>{{ story.author }} {{ story.created }}</small>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

{%endblock%}